
/* Deixando o site responsivo */

@media screen and (max-width:1024px){
    .container-principal{
        width: 100%;
        height: 100%;
        margin: 10px;
    }

    #titulo-1{
        font-size: 5em;
    }

    .container-produtos{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        
    }

    .produtos{
        width: 50%;
        height: 50%;
    }
}