@import url('https://fonts.googleapis.com/css2?family=Allura&family=Anton&family=Bad+Script&family=Charm&family=Coda+Caption&family=Italianno&family=Nanum+Gothic&family=Quicksand:wght@300&family=RocknRoll+One&family=Rubik:ital,wght@1,300&family=Staatliches&display=swap');


/* Fonte-sessão principal */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:wght@700&family=Montserrat&family=Roboto:ital,wght@1,500&family=Tiro+Devanagari+Hindi:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body{
    background-color: rgb(216, 53, 53);
}

/* colocar estilo do header */

/*.header_menu{
    display: flex;
    align-items: center;
}*/

/*.header_menu{
    display: flex;
    align-items: center;
}*/

#icone_logo {
    height: 21vw;
/*    margin-top: 1vw;*/
/*    box-shadow: 2px 2px 5px rgb(0, 0, 0);*/
}

#titulo-pagina{
    font-family: 'Staatliches', cursive;
    font-size: 15vw;
/*    font-style: oblique;*/
    margin-right: 10vw;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1vw;
    height: 20vw;
    background-color: #DAE5E8;
    align-items: center;
    box-shadow: 1vw 1vw 3vw rgb(0, 0, 0);
    text-align: center;
}

.header_botao{
    box-shadow: 1vw 1vw 3vw rgb(0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5vw;
    color: black;
}

.header_menu a:hover{
    color: #ADADAD;
    transition: 0.6s;
   }


.header_menu a{
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    color: black;
    
}

.header_menu{
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 10px;
    width: 100%;
    height: 20px;
    background-color: #E0E0E0;
    align-items: center;
    box-shadow: 1vw 1vw 3vw rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 1vw;
}










/* estilos das sessões */


.container-principal{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97%;
    height: 800px;
    color: white;
    margin: 20px;
    background-image: url(img-back/back-01Grey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 12px 12px 15px rgb(0, 0, 0);
}

.container-apresentacao{
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    flex-direction: column;
}

#titulo-1{
    font-size: 6em;
}

#titulo-2{
    padding: 20px;
    color: rgb(218, 26, 26);
    font-size:  3em;
}

.titulos{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: bold 700;
    color: #ffbdbd;
    padding: 10px;
}

.descricao-apresentacao{
    font-family: 'Tiro Devanagari Hindi', serif;
    font-weight: 400 ;
    text-align: justify;
    font-size: 25px;
    margin: 40px;
    padding: 20px;
    
}

.botao-principal{
    width: 150px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #a51919;
    padding: 10px;
    border-radius: 10px;
}

.botao-principal a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.botao-principal a:hover{
    text-decoration: underline;
}


.sessoes{
    display: grid;
    grid-template-columns: repeat(2, 50vw);    
    height: 50vw;
    font-family: 'Staatliches', cursive;
    font-size: 55px;
    gap: 2vw;
    background-color: white;

      
}


.card{
    width: 80%;
    margin: 5px 15px 5px 15px;
   
}


.imagens-section:hover{
 width: 580px;
 transition: 0.6s;
}
.card p{
    margin: 30px 0 0 90px;
    display: block;
    font-size: 45px;
  
}

.card2 p{
    margin: 30px 100px 0 90px;
    font-size: 45px;
}

.subtitulo-sessao{
    font-size: 25px;
    font-weight: 300;
    margin: 20px 30px 0px 100px;
}

.imagens-section{
    width:510px;
   margin:10px 0 70px 50px;
   justify-content: center;
 
}

.card2 img{
   margin:40px 0 50px 0;
}

/* sessão quem somos */

.container-quem-somos{
    width: 100%;
    height: 800px;
    background-color:#ADADAD;
}

.mosaico{
    width: 100%;
    height: 500px;
    background-color: gold;

}

.card{
    width: 80%;
    margin: 5px 15px 5px 15px;
    
}

.rodape{
    margin-top: 1vw;

    height: 30vw;
    background-color: #665B5B;
}



